html {
  font-size: clamp(12px, 1.75vw, 18px);
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #ffffff;
}

body.pancakeStack {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

div{

  background-color:#00008B;
}
header {
  justify-content: space-between;
  
  padding: 1em;
  background-color: #00008B;
}

header,
header nav {
  display: flex;
  align-items: center;

  color: whitesmoke;
}

header a {
  text-decoration: none;
  color: inherit;
  
  transition: all 0.2s ease;
}

header a.logo {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

header nav {
  gap: 0.5em;
  font-size: 1.3rem;
}

header nav a {
  padding: 0.5em;
}

header nav a:hover {
  color: #97CEDF;
}

